[submodule "themes/hugo-scroll"]
	path = themes/hugo-scroll
	url = https://github.com/janraasch/hugo-scroll.git
[submodule "themes/gallery"]
	path = themes/gallery
	url = https://github.com/mfg92/hugo-shortcode-gallery.git
[submodule "themes/hugo-split-gallery"]
	path = themes/hugo-split-gallery
	url = https://gitlab.com/tmuguet/hugo-split-gallery.git
